<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.UserLoginMapper">
    <select id="getUserbyOpenId" resultType="com.sky.entity.User">
        select * from user where openid = #{openID}
    </select>
    <insert id="insertUser" parameterType="com.sky.entity.User">
        insert into user (openid,create_time) values (#{openid},#{createTime})
    </insert>
</mapper>